.imageContainer {
  width: 100%;
  height: 360px;
  padding-left: 4rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

.mainBannerImage {
  transform: rotate(-51.63deg);
  width: 450px;
  height: 450px;
}

.parallax {
  /* The image used */
  background-image: url("../../../../public/assets/images/HomePage/Stock_Photo_3.png");

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.colorBanner {
  height: 250px;
}

.card {
  height: 100%;
}

.timeLineWithIcons {
  width: 90%;
  list-style: none;
  padding-left: 0;
}

.cardTimeline {
  border-style: none;
}

.timeLineItem:has(button[aria-expanded="true"]) {
  background-color: rgba(79, 29, 125, 0.3);
  border-radius: 20px;
}

.listItemContainer {
  background-color: #4f1d7d;
  border-radius: 60%;
  height: 50px;
  width: 50px;
}

.listItemContainer .firstListItem,
.mediumListItem {
  position: relative;
  top: 1px;
  left: 20px;
  background-color: #4f1d7d;
  border-left: 2px #4f1d7d;
  height: 130%;
  width: 10px;
}

.timeLineItem:has(button[aria-expanded="true"]) .firstListItem {
  height: 370%;
  animation: 0.5s normal growthFirstItem;
}

@keyframes growthFirstItem {
  0% {
    height: 130%;
  }
  100% {
    height: 370%;
  }
}

.timeLineItem:has(button[aria-expanded="true"]) .mediumListItem {
  height: 280%;
  animation: 0.5s normal growthMediumItem;
}

@keyframes growthMediumItem {
  0% {
    height: 130%;
  }
  100% {
    height: 280%;
  }
}
